<%= form_for(current_user.followed_lists.build(list_id: list.id), remote: true) do |f| %>
  <div><%= f.hidden_field :list_id %></div>
  <%= f.submit "フォロー", class: "btn btn-large btn-primary" %>
<% end %>